<header id="header">
  <div class="row">
    <div class="small-12 columns">
      <h1>PAMPLEMOUSSE</h1>
    </div>

    <div class="medium-5 columns">
      <h3>Pre-spring 2016 Collection</h3>

      <p>
        Being the only designer in the May 2014
        graduating class of the Parsons Fashion
        Design BFA program to showcase a
        headpiece collection, Gloria Yu quickly
        gained the attention of the international
        fashion crowd.
      </p>
      <p class="author">&mdash; Danica Zheng</p>
    </div>

    <div class="medium-7 columns">
      <%= image_tag "header-model.png", id: "header-model" %>
    </div>
  </div>
</header>
