<header id="header">
  <div class="row">
    <div class="medium-3 columns">
      <ul class="no-bullet main-menu">
        <li class="active">
          <a href="#">Home</a>
        </li>
        <li class="">
          <a href="#">Collections</a>
        </li>
        <li class="">
          <a href="#">Shop</a>
        </li>
        <li class="">
          <a href="#">About</a>
        </li>
      </ul>
    </div>
    <div class="medium-9 columns">
      <div class="row">
        <div class="medium-4 columns">
          <div style="height: 5px; background: black;"></div>
        </div>
        <div class="columns"></div>
      </div>

      <div class="row">
        <div class="medium-12 columns">
          <h1>Collection pre-spring 2016</h1>

          <div class="row">
            <div class="medium-4 columns">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ullamcorper leo nibh, ut consectetur arcu condimentum et. Duis ut nibh mi. Sed orci nibh, accumsan quis nisi eu, tristique sollicitudin dolor.
              </p>
            </div>

            <div class="medium-8 columns">
              <%#= image_tag "new-header.png", id: "model" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
