<% images = ["1", "2", "3"] %>

<% sizes = [3, 3, 6, 6, 3, 3] %>

<div class="product medium-<%= cycle(*sizes) %> columns">
  <div style="background: url(<%= image_path "products/#{cycle(*images, name: "images")}.png" %>) no-repeat; background-size: cover;"></div>
</div>
