<footer id="footer">

  <div class="row">
    <div class="medium-3 columns">
      <h5 class="logo">Pamplemousse</h5>

      <ul class="no-bullet">
        <li>
          <a href="">About us</a>
        </li>
        <li>
          <a href="">Danica Zheng</a>
        </li>
      </ul>
    </div>

    <div class="medium-3 columns">
      <h5>Collections</h5>

      <ul class="no-bullet">
        <li>
          <a href="">Pre-spring 2016</a>
        </li>
      </ul>
    </div>

    <div class="medium-3 columns">
      <h5>Shop</h5>

      <ul class="no-bullet">
        <li>
          <a href="">Tops</a>
        </li>
        <li>
          <a href="">Pants</a>
        </li>
        <li>
          <a href="">Skirts</a>
        </li>
        <li>
          <a href="">Dresses</a>
        </li>
      </ul>
    </div>

    <div class="medium-3 columns">
      <h5>Me</h5>

      <ul class="no-bullet">
        <li>
          <a href="">My account</a>
        </li>
        <li>
          <a href="">Shopping cart</a>
        </li>
      </ul>
    </div>
  </div>

</footer>
